* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.flex {
    display: flex;
}

.main-container{
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.calculator-container {
    background-color: #352b2c;
    width: 800px;
    height: 400px;
}
